html {
  background: url("http://www.cashadvance6online.com/data/archive/img/105507847.gif")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button:focus {outline:0;}
img:focus{outline: 0; border:0;}

.bigLabel {
  font-size: 40px;
  color: white;
}

.smallLabel{
  font-size: 12px;
  color:white;
}

.shadowBorder:hover {
  box-shadow: rgba(255, 255, 255, 0.75) 0px 0px 8px 3px;
  transition: 0.5s;
}

.clockItem{
  margin: 0;
}
